body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.login-container {
    max-width: 400px;
    width: 100%;
}

.form-container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-body {
    max-height: 60vh;
    overflow-y: auto;
}

.btn-xl {
    padding: 45px 225px;
    font-size: 20px;
    border-radius: 10px;
    width:100%;   
    white-space: nowrap; 
}

.error-message {
    color: red;
    font-size: 18px;
    margin-bottom: 20px;
    position: absolute; 
    top: 15%; /* Adjust the value to position the error message above the container */
}

.admincontainer {
    text-align: center; 
    align-items: center;
    justify-content: center;
    position: relative; 
}