{% extends 'process/base.html' %} 

{% load static %} 

{% block content %} 

<!-- Back button -->
<a href="{% url 'authorization' %}">
    <img src="{% static 'process/images/Empty.png' %}" class="position-fixed top-0 p-3" style="width: 100px;">
</a>

<!-- History button -->
<a href="{% url 'worker_history' %}" id="history-icon">
    <button type="submit" class="btn btn-primary position-fixed end-0 top-0 p-3 m-3">История</button>
</a>

<div class="form-container">
    <h1 class="text-center mb-4">Groomic</h1>
    <form id="show_final_price" class="needs-validation" novalidate>
        {% csrf_token %}
        <!-- Salon Dropdown -->
        <div class="mb-3">
            <label for="salon" class="form-label">Салон</label>
            <select class="form-select custom-font" id="salon" name="salon" required>
                <!-- Placeholder option -->
                <option value="" disabled selected>Выберите салон</option>

                <!-- Populate options from database -->
                {% for salon in salons %}
                    <option value="{{ salon.id }}" class="custom-font">
                        {{ salon.address }}
                    </option>
                {% endfor %} 
            </select>
        </div>

        <!-- Client Dropdown -->
        <div class="mb-3">
            <label for="client" class="form-label">Клиент</label>
            <select class="form-select custom-font" id="client" name="client" required>
                <!-- Placeholder option -->
                <option value="" disabled selected>Выберите клиента</option>

                <!-- Populate options from database -->
                {% for client in clients %}
                    <option value="{{ client.id }}" class="custom-font">
                        {{ client.name }}, {{ client.phone_number }}, {{ client.email }}
                    </option>
                {% endfor %}
                <option value="add_new" data-bs-toggle="modal" data-bs-target="#addNewClientModal">Добавить нового клиента</option>
            </select>
        </div>

        <!-- Choose Animal Button -->
        <div class="mb-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#animalModal">
                Выбрать животное
            </button>
        </div>

        <!-- Animal Modal -->
        <div class="modal" id="animalModal" tabindex="-1" aria-labelledby="animalModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="animalModalLabel">Выбор животного</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Animal List -->
                        <div class="container mt-5">
                            <div class="gallery-container">
                                <div class="row row-cols-1 row-cols-md-4 g-4">
                                    {% for myimage in images %}
                                        <div class="col">
                                            <a href="#" class="showmodal" data-show-modal="servicesModal" data-animal-type="{{ myimage.animal_type }}">
                                                <img src="{{ myimage.image.url }}" class="img-fluid rounded" alt="Image">
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#showPriceModal">Оформить</button>
    </form>

    <!-- Services Modal -->
    <div class="modal mt-5 ms-5" id="servicesModal" tabindex="-1" aria-labelledby="servicesModalLabel" 
         aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="servicesModalLabel">Выбор услуг</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="update_cart">

                        <!-- Services will be dynamically populated here -->
                        <div id="servicesModalBody"></div>
                        
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Add New Client -->
    <div class="modal fade" id="addNewClientModal" tabindex="-1" aria-labelledby="addNewClientModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewClientModalLabel">Добавить нового Клиента</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="clientForm" class="needs-validation" novalidate>
                        <!-- Input fields for name, phone number, email -->
                        <div class="mb-3">
                            <label for="newClientName" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="newClientName" name="newClientName" minlength="2" maxlength="255" required>
                        </div>
                        <div class="mb-3">
                            <label for="newClientPhone" class="form-label">Номер телефона</label>
                            <input type="tel" class="form-control" id="newClientPhone" name="newClientPhone" minlength="11" maxlength="11" required>
                        </div>
                        <div class="mb-3">
                            <label for="newClientEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="newClientEmail" name="newClientEmail" required>
                        </div>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Show Price Modal -->
    <div class="modal fade" id="showPriceModal" tabindex="-1" aria-labelledby="ShowPriceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="showPriceModal">Итоговая стоимость</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="FinalPriceBody">
                    
                    <!-- Display fetched data here -->
                    <div id="FinalPriceBody"></div>

                </div>
            </div>
        </div>
    </div>

    <script>
        // Initialize Select2 on your dropdown
        $(document).ready(function() {
            $('#client').select2({
                theme: 'bootstrap-5',
                containerCssClass: 'form-select custom-font' // Manually add form-select and custom-font classes
            });
            $('#salon').select2({
                theme: 'bootstrap-5',
                containerCssClass: 'form-select custom-font' // Manually add form-select and custom-font classes
            });
        });

        "use strict";

        (function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
                })
        })()

        "use strict";
    
        Array.from(document.getElementsByClassName('showmodal')).forEach((e) => {
            e.addEventListener('click', function (element) {
                element.preventDefault();
                if (e.hasAttribute('data-show-modal')) {
                    const animalType = e.getAttribute('data-animal-type');
                    showModal(e.getAttribute('data-show-modal'), animalType);
                }
            });
        });

        // Show modal dialog
        function showModal(modal, animalType) {
            const mid = document.getElementById(modal);
            let myModal = new bootstrap.Modal(mid);
    
            // Fetch services for the clicked image using AJAX
            fetch(`/get_services/${animalType}/`)
                .then(response => response.json())
                .then(data => {
                    // Update modal content with services
                    const modalBody = document.getElementById('servicesModalBody');
                    modalBody.innerHTML = '';  // Clear existing content

                    // Create a FormData object to collect form data
                    var formData = new FormData();

                    // Append the CSRF token to the FormData
                    const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                    formData.append('csrfmiddlewaretoken', csrfToken);

                    // Append the animal_type to the FormData
                    formData.append('animal_type', animalType);
                    
                    let service_count_map = {};
                    data.services.forEach(service => {
                        const serviceItem = document.createElement('div');
                        serviceItem.classList.add("row", "mb-3", "service-item");
                        serviceItem.innerHTML = 
                        `
                        <div class="col-md-6">
                            <strong>${service.name}</strong>: ${service.price}$
                        </div>
                        <div class="col-md-6 text-end">
                            <button type="button" class="btn btn-danger" id="minus-btn${service.id}">-</button>
                            <span class="mx-2" id="modal-number${service.id}">0</span>
                            <button type="button" class="btn btn-success" id="plus-btn${service.id}">+</button>
                        </div>
                        `;

                        modalBody.appendChild(serviceItem);

                        // Add event listeners for plus and minus buttons
                        const minusBtn = document.getElementById(`minus-btn${service.id}`);
                        const plusBtn = document.getElementById(`plus-btn${service.id}`);
                        const modalNumberSpan = document.getElementById(`modal-number${service.id}`);

                        let count = 0;
                        service_count_map[`service_count${service.id}`] = 0;

                        minusBtn.addEventListener('click', () => {
                            if (count > 0) {
                                count--;
                                modalNumberSpan.innerText = count;
                                service_count_map[`service_count${service.id}`] = count;  // Update hidden input value
                                // console.log(count,`minus-btn-count for ${service.name}`);
                            }
                        });

                        plusBtn.addEventListener('click', () => {
                            count++;
                            modalNumberSpan.innerText = count;
                            service_count_map[`service_count${service.id}`] = count;  // Update hidden input value
                            // console.log(count,`plus-btn-count for ${service.name}`);
                        });

                        // const quantity = count || 0;

                        // Append the service_count input to FormData
                        // console.log(count,`pre-append-count for ${service.name}`);
                        // formData.append(`service_count${service.id}`, count);
                        // console.log(count,`post-append-count for ${service.name}`);
                    });

                    // Display the modal
                    myModal.show();

                    // Add event listener to the form submission inside the modal
                    document.getElementById('update_cart').addEventListener('submit', function (event) {
                        // Log the object to see its contents
                        console.log("Object after adding data:", service_count_map);
                        let send_request = false;
                        // Append the service_count inputs to FormData
                        for (let key in service_count_map) {
                            console.log(`Value at key ${key}:`, service_count_map[key]);
                                // Check if service_count_map[key] is not equal to 0
                                if (service_count_map[key] !== 0) {
                                    formData.append(key, service_count_map[key]);
                                    send_request = true;
                                }
                        }
                        service_count_map = {};

                        // Prevent the default form submission
                        event.preventDefault();

                        // Check if formData is not empty
                        if (formData && formData.entries().next().done === false && send_request) {
                            // Make an AJAX request to submit the form data
                            fetch('/update_cart/', {
                                method: 'POST',
                                body: formData
                            })
                            .then(response => response.json())
                            .then(data => {
                                // Handle the response if needed
                                console.log(data);

                                // for (var item of formData.keys()) {
                                //     formData.delete(item)
                                // };

                                // clear the form data
                                formData = new FormData();
                                myModal.hide();
                            })
                            .catch(error => console.error('Error updating cart:', error));
                        } else {
                            // Handle the case where formData is empty, if needed
                            console.log('Form data is empty. No request sent.');
                        }
                    });
                })
                .catch(error => console.error('Error fetching services:', error));
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Add event listener to the client dropdown
            document.getElementById('client').addEventListener('change', function () {
                // Check if the selected option is 'Add New'
                if (this.value === 'add_new') {
                    // Show the modal
                    var addNewClientModal = new bootstrap.Modal(document.getElementById('addNewClientModal'));
                    addNewClientModal.show();
                }
            });

            // Add event listener to the form submission
            document.getElementById('clientForm').addEventListener('submit', function (event) {
                // Prevent the default form submission
                event.preventDefault();

                // You can add your logic to handle the form submission (e.g., AJAX request to save the new client)
                
                // Collect form data
                var formData = {
                    'name': $('#newClientName').val(),
                    'phone': $('#newClientPhone').val(),
                    'email': $('#newClientEmail').val()
                };
                
                // Get the CSRF token from the page's cookies
                var csrftoken = Cookies.get('csrftoken'); 

                // Send AJAX request
                $.ajax({
                    type: 'POST',
                    url: '/save-client/',  // Replace with your actual URL
                    data: formData,
                    beforeSend: function (xhr) {
                        // Include the CSRF token in the request headers
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    },
                    success: function (data) {
                        // Handle success, if needed
                        console.log('Client saved successfully');
                        
                        // Clear form fields
                        $('#newClientName').val('');
                        $('#newClientPhone').val('');
                        $('#newClientEmail').val('');

                        // Close the modal
                        var addNewClientModal = new bootstrap.Modal(document.getElementById('addNewClientModal'));
                        addNewClientModal.hide();
                    },
                    error: function (data) {
                        // Handle errors, if needed
                        console.error('Error saving client');
                    }
                });

            });
        });

        // Add event listener to the form submission
        document.getElementById('show_final_price').addEventListener('submit', function (event) {
                // Prevent the default form submission
                event.preventDefault();

                // You can add your logic to handle the form submission (e.g., AJAX request to save the new client)
                
                // Collect form data
                var formData = {
                    'salon' : document.getElementById('salon').value,
                    'client': document.getElementById('client').value
                };
                
                // Get the CSRF token from the page's cookies
                var csrftoken = Cookies.get('csrftoken'); 

                // Send AJAX request
                $.ajax({
                    type: 'POST',
                    url: '/show_final_price/',  // Replace with your actual URL
                    data: formData,
                    beforeSend: function (xhr) {
                        // Include the CSRF token in the request headers
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    },
                    success: function (data) {
                        console.log("Success showing final price");
                        console.log(data);
                        // Update modal content with services
                        const modalBody = document.getElementById('FinalPriceBody');
                        modalBody.innerHTML = '';  // Clear existing content
                        const priceItem = document.createElement('div');
                        // priceItem.classList.add("row", "mb-3");
                        priceItem.innerHTML = 
                        `
                        <strong>цена</strong>: ${data.final_price}₽
                        `;
                        modalBody.appendChild(priceItem);
                        // Close the modal
                        // var addNewClientModal = new bootstrap.Modal(document.getElementById('addNewClientModal'));
                        // addNewClientModal.hide();
                    },
                    error: function (data) {
                        // Handle errors, if needed
                        console.log(data);
                        console.error('Error showing final price');
                    }
                });

            });

    </script>

</div>

{% endblock %}
